<!DOCTYPE html>
<html lang="en">
    <!--Header-->
    <%- include("partials/head.ejs") %>
    <!--Navbar-->
    <body id="page-top">
        <%- include("partials/navbar.ejs") %>
        <!--Home-->
        <%- include("sections/01_home.ejs") %>
        <!--About-->
        <%- include("sections/02_about.ejs") %>
        <!--Singup-->
        <%- include("sections/03_singup.ejs") %>
        <!--Contact-->
        <%- include("sections/04_contact.ejs") %>
        <!--Footer -->
        <%- include("partials/footer.ejs") %>
    </body>
</html>